# Ignore node_modules to prevent copying large dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore environment files (security reasons)
.env
.env.local
.DS_Store

# Ignore build output (should be built inside the container)
build
dist

# Ignore Docker-related files
.dockerignore
Dockerfile

# Ignore Git files
.git
.gitignore

# Ignore OS-specific files
*.swp
*.swo
*.bak
Thumbs.db

