@import '~slick-carousel/slick/slick.css';

@import '~slick-carousel/slick/slick-theme.css';

.react-slick-item {
  background: rgb(0, 0, 0);
}

.slick-app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poster {
  margin: 0 4px;
  height: 90px;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .poster {
    margin: 0 4px;
    height: 200px;
  }
}

@media (min-width: 1024px) {
  .poster {
    margin: 0 6px;
    height: 220px;
  }
}
